body {
  background-image: url('https://get.wallhere.com/photo/Rick-and-Morty-Rick-Sanchez-TV-Adult-Swim-cartoon-1392025.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
