body {
  background-image: url('https://w.forfun.com/fetch/c4/c453671950159d4788e60858e37bbc39.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}
